.fancy-header-wrapper {
  display: flex;
  align-items: flex-start;
  line-height: 14px;
  font-size: 14px;
  margin: auto;
  overflow: hidden;
  width: 155px;
  transition: width 200ms;
  padding: 14px 0;
}

.fancy-header-done.fancy-header-wrapper {
  width: 121px;
}

.fancy-header-done .group-wrapper {
  width: 35px;
}

.fancy-header-wrapper > p {
  line-height: 14px;
  font-size: 14px;
  padding: 4px 0;
  margin: 0 4px 0 0;
  white-space: nowrap;
}

.group-wrapper {
  height: 22px;
  width: 70px;
  transition: width 200ms;
  overflow: hidden;
}

.fancy-header-enter {
  line-height: 14px;
  font-size: 14px;
  margin-top: -22px;
  padding: 4px 0;
  transition: margin-top 200ms;
}

.fancy-header-enter-done {
  line-height: 14px;
  font-size: 14px;
  margin-top: 0px;
  padding: 4px 0;
  transition: margin-top 200ms;
}
