.App {
  text-align: center;
  font-size: 14px;
  position: relative;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.react-tabs__tab {
  padding: 4px 12px;
}
.react-tabs__tab:focus {
  box-shadow: none !important;
  border-color: #aaa !important;
}

.page {
  align-items: center;
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  width: 300px;
}

.page select {
  font-size: 16px;
  width: 160px;
}

.page label {
  margin-bottom: 8px;
}

.page label div {
  margin-top: 4px;
}

.header {
  padding-top: 8px;
  padding-bottom: 8px;
}

.subtitle {
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer {
  padding: 8px;
}

.header {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
}

.icon {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2%0D%0AZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJo%0D%0AdHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5v%0D%0AcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9y%0D%0AZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIw%0D%0AIDAgNDcuNSA0Ny41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0Ny41IDQ3LjU7%0D%0AIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIGlkPSJzdmcyIj48bWV0YWRhdGEg%0D%0AaWQ9Im1ldGFkYXRhOCI+PHJkZjpSREY+PGNjOldvcmsgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+%0D%0AaW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1%0D%0Acmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiLz48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0%0D%0AYWRhdGE+PGRlZnMgaWQ9ImRlZnM2Ij48Y2xpcFBhdGggaWQ9ImNsaXBQYXRoMTYiIGNsaXBQYXRo%0D%0AVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBpZD0icGF0aDE4IiBkPSJNIDAsMzggMzgsMzgg%0D%0AMzgsMCAwLDAgMCwzOCBaIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImNsaXBQYXRoMjgiIGNs%0D%0AaXBQYXRoVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBpZD0icGF0aDMwIiBkPSJNIDEsMTkg%0D%0AQyAxLDkuMDU5IDkuMDU5LDEgMTksMSBsIDAsMCBjIDkuOTQxLDAgMTgsOC4wNTkgMTgsMTggbCAw%0D%0ALDAgYyAwLDkuOTQxIC04LjA1OSwxOCAtMTgsMTggbCAwLDAgQyA5LjA1OSwzNyAxLDI4Ljk0MSAx%0D%0ALDE5Ii8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSwwLDAsLTEu%0D%0AMjUsMCw0Ny41KSIgaWQ9ImcxMCI+PGcgaWQ9ImcxMiI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQ%0D%0AYXRoMTYpIiBpZD0iZzE0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNywxOSkiIGlkPSJnMjAi%0D%0APjxwYXRoIGlkPSJwYXRoMjIiIHN0eWxlPSJmaWxsOiM4OGM5Zjk7ZmlsbC1vcGFjaXR5OjE7Zmls%0D%0AbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmUiIGQ9Im0gMCwwIGMgMCwtOS45NDEgLTguMDU5LC0x%0D%0AOCAtMTgsLTE4IC05Ljk0MSwwIC0xOCw4LjA1OSAtMTgsMTggMCw5Ljk0MSA4LjA1OSwxOCAxOCwx%0D%0AOCBDIC04LjA1OSwxOCAwLDkuOTQxIDAsMCIvPjwvZz48L2c+PC9nPjxnIGlkPSJnMjQiPjxnIGNs%0D%0AaXAtcGF0aD0idXJsKCNjbGlwUGF0aDI4KSIgaWQ9ImcyNiI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xh%0D%0AdGUoNC42Mjc0LDI5Ljk1MjEpIiBpZD0iZzMyIj48cGF0aCBpZD0icGF0aDM0IiBzdHlsZT0iZmls%0D%0AbDojNWM5MTNiO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lIiBk%0D%0APSJNIDAsMCBDIC0wLjQ1MSwyLjkzIDIuMTk1LDQuMTU2IDMuNjA3LDQuNDY5IDUuMDE5LDQuNzg0%0D%0AIDYuMzgzLDUuMDkgNi41NCw0LjQ2NCA2LjY5NiwzLjgzNiA2Ljg1MSwzLjAwMyA3LjcxMywzLjMx%0D%0ANiA4LjU3NSwzLjYzIDEwLjc1NiwzLjg3NSAxMS43NzYsNC42NTggMTIuNzk1LDUuNDQxIDE0LjAy%0D%0ALDUuNDQ1IDE1LjA0LDUuMTMxIDE2LjA1OSw0LjgxOCAxOC45MTcsNC45MDQgMTguMjksMy45NjQg%0D%0AMTcuNjYzLDMuMDIzIDE2LjQ2NSwzLjEzNyAxNS44MzksMi4wNCAxNS4yMTIsMC45NDEgMTYuMDEx%0D%0ALDAuMjE0IDE2Ljg3MywwLjIxNCBjIDAuODY1LDAgMS43MDksLTAuMTM1IDIuMjU5LDAuNzI3IDAu%0D%0ANTQ5LDAuODYzIC0wLjM4MiwyLjQ2MyAwLjMyNSwyLjM1NyAwLjcwNiwtMC4xMDYgMS40NzcsLTAu%0D%0AODY2IDIuMDMsLTIuMDQzIDAuNTQ3LC0xLjE3NiAxLjQwOCwtMC40NyAxLjcyMywtMS4xNzYgMC4z%0D%0AMTMsLTAuNzA1IDIuMDQsLTIuMDM5IDEuMTc3LC0xLjgwNCAtMC44NjQsMC4yMzYgLTEuNzI2LDAu%0D%0AMzkyIC0xLjk2MSwtMC40NyAtMC4yMzYsLTAuODYzIDAuMzg5LC0xLjcyNiAtMC4yMzYsLTEuNjQ3%0D%0AIC0wLjYyNywwLjA3OSAtMC44NjEsLTAuMDg5IC0xLjcyNSwtMC4wMDQgLTAuODYyLDAuMDgzIC0x%0D%0ALjMzMywwLjYzMSAtMi4wMzksLTAuNTQ1IC0wLjcwNSwtMS4xNzUgLTEuMjU0LC0xLjk2MSAtMS41%0D%0ANjcsLTIuNTA5IC0wLjMxNSwtMC41NDkgLTAuNzg1LC0wLjg2MSAtMC41NSwtMS45NiAwLjIzNSwt%0D%0AMS4wOTkgLTAuNjI4LC0wLjc4NSAtMC42MjgsMC4xNTYgMCwwLjk0IC0wLjU0OCwxLjA5OCAtMS4y%0D%0ANTMsMC45NDIgLTAuNzA2LC0wLjE1NyAtMS44MDMsLTAuMzEzIC0xLjcyNCwtMS4wOTggMC4wNzcs%0D%0ALTAuNzg0IC0wLjMxNSwtMS43MjUgMC4zMTMsLTIuMzUyIDAuNjI3LC0wLjYyOSAxLjMzLDAuMDc2%0D%0AIDEuNzIzLC0wLjE1OCAwLjM5MywtMC4yMzcgMS41MjUsLTAuMDIzIDEuMTMzLC0wLjQxNiAtMC4z%0D%0AOTMsLTAuMzkxIC0xLjc2LC0wLjg4MSAtMC45NzYsLTEuNTA5IDAuNzg2LC0wLjYyNiAxLjU3OCwt%0D%0AMC44MjkgMS44OTMsLTAuOTA3IDAuMzEzLC0wLjA4IDAuMDYyLDAuNzc0IDEuMDgzLDEuMTY2IDEu%0D%0AMDE3LDAuMzkyIDIuNjA4LDEuMjkgMywwLjU4NCAwLjM5MSwtMC43MDUgMC4zMzgsLTAuNTk1IDEu%0D%0ANzUsLTAuNzUgMS40MSwtMC4xNTYgMS43OSwtMC41ODUgMi40MTcsLTEuOTE3IDAuNjI3LC0xLjMz%0D%0AMyAwLjQ0NiwtMS4xOTIgMS40NjIsLTEuNTgxIDEuMDIxLC0wLjM5MyAxLjY3OCwtMC4yMjIgMC43%0D%0AMzcsLTEuMDg2IC0wLjk0MSwtMC44NiAtMS42NTEsLTAuODE0IC0yLjE5OSwtMS44MzMgLTAuNTUs%0D%0ALTEuMDE3IC0wLjE1MywtMS43MzEgLTEuMjUsLTIuNzUgLTEuMDk4LC0xLjAxOSAtMi4yNDIsLTEu%0D%0AODc2IC0zLjQxNywtMi41ODMgLTAuNjE4LC0wLjM3IC0yLjE2MiwtMi4wNyAtMy4wODMsLTIuNjY3%0D%0AIC0wLjgzNCwtMC41NDEgLTEuMDgzLDAgLTEuMDgzLDAgMCwwIDAuMjU2LDEuNjY3IDAuOTY0LDIu%0D%0AMzcyIDAuNzA0LDAuNzA1IDEuMTA1LDMuMzQ0IDAuODY5LDQuMTI4IC0wLjIzNCwwLjc4MyAtMS4z%0D%0ANiwxLjAyIC0xLjc1LDEuMzMzIC0wLjM5MiwwLjMxMiAtMS40MTcsMS41NDggLTEuNDE3LDIuMzM0%0D%0AIDAsMC43ODQgMS43MSwyLjgwOSAxLjcxLDIuODA5IDAuMjE4LC0xLjA4OCAtMS4wMzksMC4zMjkg%0D%0ALTEuNjI3LDAuNTI0IC0wLjQ3LDAuMTU3IC0xLjU0MiwxLjY1NiAtMi40NTksMS44MTQgLTAuOTE2%0D%0ALDAuMTU5IC0xLjM2MywwLjcgLTIuMDY4LDEuMjUgLTAuNzA2LDAuNTQ5IC0yLjQzMSwxLjMzMiAt%0D%0AMi4zNTMsMi4xOTUgMC4wNzksMC44NjIgLTEuNzI1LDEuNTY4IC0yLjAzOCwxLjU2OCAtMC4zMTQs%0D%0AMCAtMS4wMTksMCAtMS42NDcsMS4wOTggLTAuNjI3LDEuMDk4IC0xLjcyNSwyLjE5NiAtMS40MTEs%0D%0AMi45NzkgMC4zMTMsMC43ODQgMC4zOTIsMS43MjcgMC4yMzQsMi41ODkgQyAzLjA1OCwwLjIzNiAx%0D%0ALjg4MiwwLjU1IDEuNjQ3LDAuMzE1IDEuNDEyLDAuMDc5IDAuMTU4LC0xLjAyIDAsMCIvPjwvZz48%0D%0AL2c+PC9nPjwvZz48L3N2Zz4K");
  height: 24px;
  margin-right: 8px;
  transition: 0.25s background linear;
  width: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer a {
  margin-bottom: 4px;
}

.footer div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ui-icon {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDcuNSA0Ny41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0Ny41IDQ3LjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIGlkPSJzdmcyIj48bWV0YWRhdGEgaWQ9Im1ldGFkYXRhOCI+PHJkZjpSREY+PGNjOldvcmsgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiLz48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0YWRhdGE+PGRlZnMgaWQ9ImRlZnM2Ij48Y2xpcFBhdGggaWQ9ImNsaXBQYXRoMTYiIGNsaXBQYXRoVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBpZD0icGF0aDE4IiBkPSJNIDAsMzggMzgsMzggMzgsMCAwLDAgMCwzOCBaIi8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSwwLDAsLTEuMjUsMCw0Ny41KSIgaWQ9ImcxMCI+PGcgaWQ9ImcxMiI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQYXRoMTYpIiBpZD0iZzE0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNi4zNTc0LDQuODAxOCkiIGlkPSJnMjAiPjxwYXRoIGlkPSJwYXRoMjIiIHN0eWxlPSJmaWxsOiMzYjg4YzM7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmUiIGQ9Im0gMCwwIGMgMS4wMTQsMS4xODQgMS45MDIsMi41OTQgMi42MTksNC4xOTggbCAyLjUwMywwIEMgMy43MzEsMi40NjUgMS45ODgsMS4wMzIgMCwwIG0gLTE5LjgzNyw0LjE5OCAyLjUwMywwIGMgMC43MTYsLTEuNjA0IDEuNjA1LC0zLjAxNCAyLjYxOSwtNC4xOTggLTEuOTg5LDEuMDMyIC0zLjczMSwyLjQ2NSAtNS4xMjIsNC4xOTggbSA1LjEyMiwyNC4xOTkgYyAtMS4wMTQsLTEuMTg0IC0xLjkwMywtMi41OTQgLTIuNjE5LC00LjE5OSBsIC0yLjUwMywwIGMgMS4zOTEsMS43MzQgMy4xMzQsMy4xNjYgNS4xMjIsNC4xOTkgbSAxOS44MzcsLTQuMTk5IC0yLjUwMywwIEMgMS45MDIsMjUuODAzIDEuMDE0LDI3LjIxMyAwLDI4LjM5NyAxLjk4OCwyNy4zNjUgMy43MzEsMjUuOTMyIDUuMTIyLDI0LjE5OCBtIC0wLjUxMywtOSBjIC0wLjA5MiwyLjUwNiAtMC41MjIsNC44NzEgLTEuMjI4LDcgbCAzLjEwMywwIGMgMS4yMDcsLTIuMDgyIDEuOTUxLC00LjQ1OSAyLjEwOCwtNyBsIC0zLjk4MywwIHogbSAwLC0yIDMuOTgzLDAgQyA4LjQzNSwxMC42NTcgNy42OTEsOC4yODEgNi40ODQsNi4xOTggbCAtMy4xMDMsMCBjIDAuNzA2LDIuMTI5IDEuMTM2LDQuNDk0IDEuMjI4LDcgbSAtMTAuOTY2LC03IDAsNyA4Ljk2OCwwIEMgMi41MTMsMTAuNjU3IDIuMDQ4LDguMjgxIDEuMjk0LDYuMTk4IGwgLTcuNjUxLDAgeiBtIDAsLTcuOTE5IDAsNS45MTkgNi43OTksMCBDIC0xLjE5NCwwLjkzNSAtMy42MSwtMS4yODQgLTYuMzU3LC0xLjcyMSBtIC0yLDUuOTE5IDAsLTUuOTE5IGMgLTIuNzQ3LDAuNDM3IC01LjE2NCwyLjY1NiAtNi44LDUuOTE5IGwgNi44LDAgeiBtIC04Ljk2OSw5IDguOTY5LDAgMCwtNyAtNy42NTIsMCBjIC0wLjc1NCwyLjA4MyAtMS4yMTksNC40NTkgLTEuMzE3LDcgbSAtMS45OTgsMiAtMy45ODMsMCBjIDAuMTU4LDIuNTQxIDAuOTAxLDQuOTE4IDIuMTA3LDcgbCAzLjEwNSwwIGMgLTAuNzA3LC0yLjEyOSAtMS4xMzYsLTQuNDk0IC0xLjIyOSwtNyBtIDEwLjk2Nyw3IDAsLTcgLTguOTY5LDAgYyAwLjA5OCwyLjU0MSAwLjU2Myw0LjkxNyAxLjMxNyw3IGwgNy42NTIsMCB6IG0gMCw3LjkyIDAsLTUuOTIgLTYuOCwwIGMgMS42MzcsMy4yNjQgNC4wNTMsNS40ODMgNi44LDUuOTIgbSA5LjY1MSwtNy45MiBjIDAuNzU0LC0yLjA4MyAxLjIxOSwtNC40NTkgMS4zMTcsLTcgbCAtOC45NjgsMCAwLDcgNy42NTEsMCB6IG0gLTcuNjUxLDIgMCw1LjkyIGMgMi43NDcsLTAuNDM3IDUuMTYyLC0yLjY1NiA2Ljc5OCwtNS45MiBsIC02Ljc5OCwwIHogbSAtMTYuOTUsLTExIDMuOTgzLDAgYyAwLjA5MiwtMi41MDYgMC41MjIsLTQuODcxIDEuMjI5LC03IGwgLTMuMTA1LDAgYyAtMS4yMDYsMi4wODMgLTEuOTQ5LDQuNDU5IC0yLjEwNyw3IG0gMTUuOTUsMTkgYyAtOS45NDEsMCAtMTgsLTguMDU5IC0xOCwtMTggMCwtOS45NDEgOC4wNTksLTE4IDE4LC0xOCA5Ljk0MSwwIDE4LDguMDU5IDE4LDE4IDAsOS45NDEgLTguMDU5LDE4IC0xOCwxOCIvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4K");
  display: inline-block;
  height: 24px;
  margin-right: 4px;
  width: 24px;
}

.hint {
  width: 200px;
}

.site-icon {
  border-radius: 50%;
  flex: none;
  display: inline-block;
  height: 8px;
  margin-right: 8px;
  width: 8px;
}

.site-icon.stable {
  background: green;
}

.site-icon.beta {
  background: gold;
}

td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
  width: 64px;
}

td > div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  margin-bottom: 24px;
  padding: 8px;
  width: 80%;
}

.modal {
  align-items: center;
  border: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
}

.dismiss-icon {
  align-self: flex-start;
  cursor: pointer;
  user-select: none;
}

.alert-icon {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2%0D%0AZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJo%0D%0AdHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5v%0D%0AcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9y%0D%0AZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIw%0D%0AIDAgNDcuNSA0Ny41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0Ny41IDQ3LjU7%0D%0AIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIGlkPSJzdmcyIj48bWV0YWRhdGEg%0D%0AaWQ9Im1ldGFkYXRhOCI+PHJkZjpSREY+PGNjOldvcmsgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+%0D%0AaW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1%0D%0Acmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiLz48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0%0D%0AYWRhdGE+PGRlZnMgaWQ9ImRlZnM2Ij48Y2xpcFBhdGggaWQ9ImNsaXBQYXRoMTYiIGNsaXBQYXRo%0D%0AVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBpZD0icGF0aDE4IiBkPSJNIDAsMzggMzgsMzgg%0D%0AMzgsMCAwLDAgMCwzOCBaIi8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgo%0D%0AMS4yNSwwLDAsLTEuMjUsMCw0Ny41KSIgaWQ9ImcxMCI+PGcgaWQ9ImcxMiI+PGcgY2xpcC1wYXRo%0D%0APSJ1cmwoI2NsaXBQYXRoMTYpIiBpZD0iZzE0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzLjY1%0D%0AMzMsMikiIGlkPSJnMjAiPjxwYXRoIGlkPSJwYXRoMjIiIHN0eWxlPSJmaWxsOiNmZmNjNGQ7Zmls%0D%0AbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmUiIGQ9Im0gMCwwIGMgLTEu%0D%0AODQyLDAgLTIuNjU0LDEuMzM4IC0xLjgwNiwyLjk3MyBsIDE1LjYwOSwzMC4wNTUgYyAwLjg0OCwx%0D%0ALjYzNSAyLjIzOCwxLjYzNSAzLjA4NywwIEwgMzIuNDk5LDIuOTczIEMgMzMuMzQ5LDEuMzM4IDMy%0D%0ALjUzNiwwIDMwLjY5MywwIEwgMCwwIFoiLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYu%0D%0ANzY5LDI2LjMzOTgpIiBpZD0iZzI0Ij48cGF0aCBpZD0icGF0aDI2IiBzdHlsZT0iZmlsbDojMjMx%0D%0AZjIwO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lIiBkPSJNIDAs%0D%0AMCBDIDAsMS4zMDIgMC45NjEsMi4xMDggMi4yMzIsMi4xMDggMy40NzMsMi4xMDggNC40NjUsMS4y%0D%0ANzEgNC40NjUsMCBsIDAsLTExLjkzOCBjIDAsLTEuMjcxIC0wLjk5MiwtMi4xMDggLTIuMjMzLC0y%0D%0ALjEwOCAtMS4yNzEsMCAtMi4yMzIsMC44MDcgLTIuMjMyLDIuMTA4IEwgMCwwIFogbSAtMC4xODcs%0D%0ALTE4LjI5MyBjIDAsMS4zMzMgMS4wODYsMi40MTggMi40MTksMi40MTggMS4zMzMsMCAyLjQxOSwt%0D%0AMS4wODUgMi40MTksLTIuNDE4IDAsLTEuMzM0IC0xLjA4NiwtMi40MTkgLTIuNDE5LC0yLjQxOSAt%0D%0AMS4zMzMsMCAtMi40MTksMS4wODUgLTIuNDE5LDIuNDE5Ii8+PC9nPjwvZz48L2c+PC9nPjwvc3Zn%0D%0APgo=");
  height: 18px;
  width: 18px;
}

.error-text {
  text-align: left;
  width: 200px;
}

.container {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.container:last-child {
  border: none;
}

.step-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}
.step-number {
  height: 100%;
  margin: 0px 5px;
  user-select: none;
}
.step-number span {
  background: #aaa;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  line-height: 18px;
  width: 234px;
  padding: 0 8px;
}

.translation-request {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.translation-queue {
  position: absolute;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.translation-request-inner {
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #aaa;
  background: white;
  flex-grow: 1;
  flex-direction: column;
  padding: 32px;
}

.colors-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 32px;
}

.colors-container[hidden] {
  visibility: hidden;
}

.colors-container span {
  padding: 8px;
}

label {
  user-select: none;
  cursor: pointer;
}

.settings-page {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.settings-page > div {
  margin-bottom: 8px;
}

.new-link {
  color: #2980b9;
  cursor: pointer;
}
